.team {
    padding: 0 18px;
    background-image: linear-gradient(135.00deg, rgba(0, 0, 0, 0.75) 0%,rgba(0, 0, 0, 0.9) 100%), url(../../img/img/team-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 242px;
}
/* [[[[[[[[[team-block]]]]]]]]] */
.team-block {
    display: flex;
    /* flex-flow: wrap; */
    justify-content: space-between;
    column-gap: 18px;
    row-gap: 180px;
    max-width: 1172px;
    min-width: calc(375px - 2 * 18px);
    margin: 0 auto;

}

.team__text-block {
    flex-basis: 280px;
    /* margin: auto; */
}

.team__photo-block {
    display: flex;
    /* flex-flow: wrap; */
    justify-content: space-between;
    /* column-gap: 43px; */
    column-gap: 18px;
    flex-basis: 751px;
    /* flex: 1; */
}

/* @media screen and (max-width: 1072px) {
    .team-block {
        flex-flow: wrap;
    }

    .team__text-block {
        margin: auto;
    }

    .team__photo-block {
        margin: auto;
    }

    .team__text-block ul {
        display: none;
    }
} */



/* [[[[[[[[elements]]]]]]]] */
.team__text-block h2 {
    padding-top: 138px;
}

.team__text-block ul {
    padding-left: 0;
    padding-top: 47px;
}

.team__text-block li {
    margin-top: 23px;
}



/* Images */
.team__column-wrap {
    display: flex;
    flex-flow: column;
}



.team__first-column-wrap {
    display: flex;
    flex-flow: column;
    row-gap: 40px;

}

.team__second-column-wrap {
    display: flex;
    flex-flow: column;
    row-gap: 40px;
}

.team__img-column img {
    max-width: 100%;
}

.team__first-column-wrap img:first-child {
    margin-top: -40px;
}

.team__first-column-wrap img:last-child {
    margin-bottom: -40px;
}

.team__second-column-wrap img:first-child {
    margin-top: -112px;
}


.team__photo-slides {
    position: relative;
    display: none;
    text-align: center;
    margin-top: 30px;
}

.team__left-button {
    position: absolute;
    top: calc(50% - 33px);
    left: 0;
}

.team__right-button {
    position: absolute;
    top: calc(50% - 33px);
    right: 0;
}



/* [[[[[[[[media]]]]]]]] */
/* @media screen and (max-width: 1072px) {
    .team {
        background-image: none;
        background-color: #131313;
    }
}

@media screen and (max-width: 832px) {
    .team {
        background-color: #131313;
        background-image: none;
        margin-top: 266px;
    }
    
    .team-block {
        position: relative;
        top: -211px;
        display: block;
        margin: 0 auto -211px;
    }

    .team__photo-block {
        display: none;
    }

    .team__photo-slides {
        display: block;
    }

    
    .team__text-block h2 {
        position: relative;
        padding: 0;
        text-align: center;
    }

    .team__photo-slides {
        
    }
} */