.projects-form {
    position: relative;
    row-gap: 33px;
    padding: 92px 0 0;
}

.projects-form__inputs {
    display: flex;
    flex-flow: wrap;
    align-items: end;
    column-gap: 48px;
    row-gap: 63px;
    max-width: 780px;
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 231px;
    gap: 8px;
}

.input-group__label {
    color: rgb(154, 154, 154);
    font-size: 13px;
}

.input-group__input {
    padding-bottom: 8px;
    font-size: 14px;
    color: #fff;
    background-color: #131313ff;
    border-style: none;
    border-bottom: 1px solid rgb(154, 154, 154);
}

.input-group__input::placeholder {
    font-size: 14px;
    color: #fff;
    background-color: #131313ff;
    opacity: 1;
}

input {
    outline: unset;
}




.input__button {
    height: 51px;
    color: #fff;
    border-radius: 1px;
    border-style: none;
    background-color: var(--gold);
    box-shadow: 0px 15px 15px 0px rgba(227, 184, 115, 0.15);
    /* margin: 0 auto; */
}

.button-open {
    display: inline-block;
    min-width: 200px;
    max-width: 525px;
}

.button-close {
    position: relative;
    bottom: -25px;
    display: none;
    margin-bottom: 25px;
    margin-top: -25px;
}




.custom-checkbox {
    padding: 33px 0 64px;
}



@media screen and (max-width: 808px) {
    .button-open {
        display: none;
    }

    .button-close {
        display: block;
        width: 100%;

    }

    .custom-checkbox {
        /* padding: 26px 0 calc(88px - 51px); */
        padding: 26px 0 88px;
    }
}

@media screen and (min-width: 809px) {
    .input-group__input {
        background-color: #fff;
        color: #131313;
    }
    
    .input-group__input::placeholder {
        background-color: #fff;
        color: #131313;
    }
}