.measurement__cards-block {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 59px;
    max-width: 1236px;
    margin: 0 auto;
}


.measurement-card {
    width: calc((100% - 60px) / 3);
    max-width: 679px;
    flex: 1;
    display: flex;
    flex-flow: column;
    margin-bottom: 27px;
}

.measurement-card__img {
    width: 100%;
}

.measurement-card__body {
    background-color: #fff;
    width: calc(100% / (392 / 330));
    margin: -127px auto 0;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.measurement-card__text {
    padding: 25px 34px 0;
}

.measurement-card__list {
    padding: 13px 0 23px;
}

.card__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    color: #fff;
    background-color: var(--gold);
    box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.5);
    margin: 0 0 -27px;
}

.price {
    width: 228px;
}




/* [[[[[[[MEDIA]]]]]]] */



@media screen and (max-width: 967px) {
    .measurement__cards-block {
        flex-direction: column;
        align-items: center;
    }

    .measurement-card {
        width: 100%;
        min-width: calc(375px - 36px);
    }

    .measurement-info {
        margin-top: 111px;
    }
}

@media screen and (max-width: 967px) {
    .measurement-card__body {
    margin: -127px 0 0;

    }
}

@media screen and (max-width: 434px) {
    .card__label {
        width: 190px;
        height: 40px;
        margin-bottom: -20px;
    }

    .measurement-card {
        margin-bottom: 20px;
    }
}
